/* This file is for your main application css. */

#fastmapid { 
    height: 580px;
    width : 80%;
    align-content: center;
}
#mapid { 
    height: 580px;
    width : 80%;
    align-content: center;
 }


